In [2]:
import pandas as pd
import numpy as np

In [3]:
file_path = 'HMXBparameters.xlsx'  # Replace with the path to your XLSX file

# Read the XLSX file into a DataFrame, setting empty cells to None
hmxb = pd.read_excel('HMXBparameters.xlsx', header=0, na_values=None)
kaper = pd.read_excel('HMXBkaper.xlsx', header=0, na_values=None)

In [4]:
hmxb.style

In [5]:
# Concatenate the dataframes along the rows (vertically)
compare = pd.concat([hmxb, kaper], ignore_index=True)

# Sort the dataframe by the 'id' column
compare = compare.sort_values(by='id')

# Reset the index to have a continuous index
compare = compare.reset_index(drop=True)

# Sort alphabetically on 'id'
compare = compare.sort_values(by='id')

In [6]:
compare.style

##### Calculate L from the photometric data

In [16]:
for i in range(hmxb.shape[0]):
    # Calculate extinction
    Av = 3.2 * (hmxb.loc[i, '(B-V)obs'] - hmxb.loc[i, '(B-V)0'])

    # Calculate Absulute magnitude (visual)
    Mv = hmxb.loc[i, 'mv'] - 5 * np.log10(hmxb.loc[i, 'distance'] * 1000) + 5 - Av

    # Calculate bolomatric absolute magnitude
    Mbol = Mv + hmxb.loc[i, 'BC']

    # Calculate the luminosity in solar luminosities
    L = 10**((Mbol - 4.74) / (-2.5))

    # Put L in the dataframe
    hmxb.loc[i, 'luminosity'] = L

In [17]:
hmxb.style

In [15]:
hmxb[['id', 'luminosity', 'distance']].style