In [1]:
import pandas as pd

In [2]:
file_path = 'HMXBparameters.xlsx'  # Replace with the path to your XLSX file

# Read the XLSX file into a DataFrame, setting empty cells to None
df = pd.read_excel(file_path, header=0, na_values=None)

df.style