# Determine the radius based on the spectrum
1. Get the SED for the model that is the best fit to the spectrum.
2. Get the photometric data for the object.
    - The models range from 3100 $\AA$ to 10000 $\AA$
3. Convert the magnitudes to fluxes.
4. Compare the fluxes with the model in the same range. Find the factor to get the model fluxes to be the same as the data.
5. The luminosity of the model is known, so the get the luminosity of the object you multiply that models luminosity with the factor found in (4).
6. Since the Temperature of the best model is known, the radius can be calculated with $L=4\pi R^{2}\sigma T_{eff}^{4}$.

In [2]:
import sys
sys.path.append('/mnt/c/Users/luukv/Documenten/NatuurSterrkenkundeMasterProject/CodeMP/MasterProject')
from model_functions import import_SED_models_quickload
from functions import import_spectra

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Set parameters

In [3]:
def object_name_to_save_name(input_string: str)->str:
    """
    Convert the object name to the general save name.

    Args:
        input_string (str): Object name

    Returns:
        str: Save name
    """
    # Replace every '-' with '_'
    modified_string = input_string.replace('-', '_')
    
    # Remove space before capital 'X'
    modified_string = modified_string.replace(' ', '')

    return modified_string

object_name = '4U1538-52'
object_save = object_name_to_save_name(object_name)

galaxy = 'Milkyway'

best_model = 'T16000logg2.0'

### Import data

In [22]:
# Import spectra
spectra = import_spectra(object_save)
# Import SED models
SED = import_SED_models_quickload(galaxy)

# Import the GAIA G band photometry
g_bands = pd.read_csv('../tables/GAIA_G_passband.csv')
id_converter = pd.read_excel('../tables/id_converter.xlsx')
g_bands['source_id'] = g_bands['source_id'].astype(int)
id_converter['source_id'] = id_converter['source_id'].astype(int)
g_bands = pd.merge(g_bands, id_converter, on='source_id')[['id', 'phot_g_mean_mag']]

                 id  phot_g_mean_mag
0        2S0114+650        10.520529
1           Cyg X-1         8.536617
2   IGR J18027-2016        19.070595
3     XTE J1855-026        13.440664
4         4U1907+09        16.793938
5           LMC X-1        14.556103
6           LMC X-4        14.071205
7           SMC X-1        13.168757
8           Cen X-3        12.878897
9          Vela X-1         6.735128
10        4U1538-52        13.163740
11     OAO 1657-415        16.196537
12        4U1700-37         6.420470
13          GX301-2         9.751056

### Calculate flux from magnitudes

In [32]:
zero_point = 25.6884
# Calculate the flux in erg cm-2 s-1
g_bands['flux'] = 10**( ( zero_point - g_bands['phot_g_mean_mag']) / 2.5 ) * 10**3

g_bands

                 id  phot_g_mean_mag          flux
0        2S0114+650        10.520529  1.167208e+09
1           Cyg X-1         8.536617  7.256266e+09
2   IGR J18027-2016        19.070595  4.437333e+05
3     XTE J1855-026        13.440664  7.926736e+07
4         4U1907+09        16.793938  3.612308e+06
5           LMC X-1        14.556103  2.837388e+07
6           LMC X-4        14.071205  4.434840e+07
7           SMC X-1        13.168757  1.018257e+08
8           Cen X-3        12.878897  1.329846e+08
9          Vela X-1         6.735128  3.813367e+10
10        4U1538-52        13.163740  1.022973e+08
11     OAO 1657-415        16.196537  6.262463e+06
12        4U1700-37         6.420470  5.095327e+10
13          GX301-2         9.751056  2.371033e+09